*{
    margin: 0%;
    padding: 0%;
}

.delivery-map{
    width: 40%;
}



.del-sec{
    text-align: center;
    color: white;
    background-color: black;
}

.more-info{
    display: block;
    align-content: center;
    
}

#nav-1-1{
    width: 5%;
    padding: 0%;
}

#sub-bio-1{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.more-info{
    display: inline;
}